@font-face {
  font-family: maFont;
  src: url(./assets/font/Dosis-Medium.ttf);
}

body {
  margin: 0;
  font-family: maFont;
  background: rgb(255, 255, 255);
}

/* -------------all code-------------- */

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
}

.nav a {
  text-decoration: none;
  color: rgb(2, 5, 202);
}

/* -------------Accueil Area--------------- */
#accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: url(./assets/images/bgAccueil.jpg) center/cover;
}

#photoAccueil img {
  width: 100%;
  height: 200px;
  border: 5px solid rgba(0, 255, 200, 0.308);
  border-radius: 50%;
}

#intro {
  padding: 10px;
  color: white;
}
#intro p span {
  color: red;
}
#intro p {
  color: skyblue;
}

/* -------------Parcours---------- */

#parcours-container {
  display: grid;
}
#parcours h1 {
  color: rgb(2, 5, 202);
  font-style: italic;
  text-align: center;
}

.parcour {
  background: skyblue;
  padding: 10px;
  border: 0;
  border-radius: 0.1rem;
}
.parcour h2 {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}
.parcour h3 {
  color: white;
}

p {
  color: rgb(2, 5, 202);
}

/* ---------------Compétences------------ */
.competences {
  margin: 10px;
}

.langage {
  padding: 20px;
  box-sizing: border-box;
  background: rgb(236, 236, 236);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 4px solid skyblue;
  border-radius: 50%;
}
h2#projet,
#titleLang {
  margin: 10px auto;
  text-align: center;
  color: rgb(2, 5, 202);
}
.projet h2 {
  color: rgb(162, 229, 255);
  font-weight: bold;
}

button {
  display: inline-block;
  width: 20vw;
  height: 30px;
  display: none;
  border: 1px solid skyblue;
  font-size: 1.2rem;
  color: skyblue;
  background: white;
  border-radius: 0.4rem;
}
button:hover {
  background: rgb(238, 238, 238);
}
.projet {
  height: 50vh;
  border: 3px solid rgb(2, 5, 202);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projet1 {
  background: url(./assets/images/gestion.jpg) center/cover;
}

.projet2 {
  background: url(./assets/images/quizColorGame.PNG) center/cover;
}
/* ----------------contact----------- */
#contact-section {
  padding: 10px;
}

#contact-section h2 {
  text-align: center;
  color: blue;
}

#nom {
  grid-area: nom;
}
#mail {
  grid-area: mail;
}

textarea {
  grid-area: mess;
  resize: none;
}

#nom,
#mail,
textarea,
input[type="button"] {
  margin: 5px;
  border: 1px solid skyblue;
  border-radius: 0.2rem;
  height: 40px;
}
input[type="button"] {
  grid-area: btn;
  background: rgb(255, 252, 252);
  color: skyblue;
  font-size: 1.4rem;
  border: 2px solid skyblue;
  border-radius: 1rem;
  cursor: pointer;
}
input[type="button"]:hover {
  background: rgb(224, 224, 224);
}

.my-contact {
  text-align: center;
  background: white;
}

.my-contact span {
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
}
/* -------style by media------------ */
@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    background: skyblue;
    display: flex;
    justify-content: space-between;
  }

  #mobile-head {
    width: 30%;
  }

  .header .btn-menu {
    display: none;
  }
  .nav-container {
    display: block;
  }
  .nav {
    padding: 10px 20px;
  }
  .nav a {
    display: inline-block;
    padding: 10px;
    font-size: 1.1rem;
  }
  /* accueil */
  #accueil {
    flex-direction: row;
  }
  #intro h1 {
    font-size: 2.5rem;
  }
  #intro p {
    font-size: 1.2rem;
  }

  #intro p span {
    font-size: 1.3rem;
  }

  /* pour le parcours */

  #parcours-container {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    margin: 10px auto;
  }

  .parcour h3 {
    font-size: 1.5rem;
  }
  .parcour p {
    font-size: 1.1rem;
  }

  /* competences */
  .competences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
  }

  .langage {
    width: 250px;
    height: 250px;
  }

  .projects {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
  }

  /* contact */
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nom mail"
      "mess mess"
      "btn btn";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
}

/* ---------------------mobile screen--------------------------- */
@media only screen and (max-width: 599px) {
  #mobile-head {
    width: 100%;
    position: fixed;
    top: 0;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    display: none;
    padding: 30px 0;
    width: 100%;
    position: fixed;
    top: 20px;
    text-align: center;
  }
  .nav {
    background: rgb(0, 163, 101);
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .nav a {
    padding: 10px;
  }

  .nav a:hover {
    background: rgb(0, 158, 111);
    color: white;
  }

  /* competences */
  .competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .langage {
    width: 200px;
    height: 200px;
    margin: 5px;
  }

  .projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
  }

  /* Contact */

  .form {
    display: flex;
    flex-direction: column;
  }
}
